h1{
	text-align: center;
	border: 5px grey;
	color: white;
}
body{
	
	border-color: grey;
	background-color: #9f2b68;
}
div{
	padding: 50px;
	border: 5px grey;
	border-style: groove;
	border-width: 5px;
	border-radius: 10px;
	border-spacing: 3px;
	margin-left: 500px;
	margin-right: 500px;
	text-align: center;
	background-color: aliceblue;
	font-weight: bold;
}
