body{
	background-image: url(real men.png);
	background-color: #9f2b68;
	border: 10px grey;
}
div{
	padding: 50px;
	border: 100px grey;
	border-style: groove;
	border-width: 5px;
	border-radius: 10px;
	border-spacing: 3px;
	margin-left: 400px;
	margin-right: 400px;
	background-color: aliceblue;
}
h1{
	padding: 10px;
	font-size: 50px;
	font-family: calibri;
	color:white;
	float: center;
}
h2{
	padding: 10px;
	border: 5px grey;
	border-style: groove;
	border-width: 5px;
	border-radius: 10px;
	border-spacing: 3px;
	margin-left: 400px;
	margin-right: 400px;
	font-size: 30px;
	font color: blue;
	background-color: aliceblue;
}
p{
	font-family: arial;
}
input{
	margin-left: 100px;
	margin-right: 100px;
	padding: 5px 5px 5px 5px;
	background-color: aliceblue;
}
label{
	font-size: 15px;
	font-weight: 900;
}
